@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#34a495, #b6f0e1) no-repeat;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR START*/
.navbar {
    background-color: #d3d0d0;
    color: #ffffff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin: 10px 10px;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 0 10px;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgba(179, 0, 255, 1);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

a:hover:after {
    width: 100%;
}
/* NAVBAR END */

/* DISPLAY CONTAINER START*/
.display-container {
    display: grid;
    background: #ffffff;
    color: #ba68c8;
    transform: translate(50%, 30%);
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 2px 10px 15px 5px rgba(0, 0, 0, 0.3);

    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 2fr 2fr;
    grid-gap: 5px;
    grid-template-areas:
        "current-cards add-cards"
        "current-cards add-cards"
        "user-details"
        "user-details"
;
}
/* DISPLAY CONTAINER END*/
#current-cards {
    position: relative;
    text-align: center;
    padding-top: 10%;
    height: 50%;
    border-radius: 20px;
}



#current-cards ul {
    list-style-type: none;
    margin-top: 35px;
}

#add-card {
    position: relative;
    text-align: center;
    padding-top: 10%;
    height: 101%;
    border-radius: 20px;
}

.card-input {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-input input {
    margin-bottom: 15px;
    width: 80%;
    border: none;
    border-radius: 3px;
    height: 25px;
    background-color: lavenderblush;
    color: rgb(202, 198, 198);
    font-style: italic;
}

input:hover {
    color: transparent;
    transition: 0.5s;
}

#user-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 85%;

}

#user-details h4{
    padding-bottom: 5%;
}





