@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#34a495, #b6f0e1) no-repeat;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.nav-list {
    background: #ffffff;
    box-shadow: 0 0 10px rgb(218, 211, 211);
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-item {
    margin-left: 15px;
    list-style: none;
    margin-right: 5rem;
    font-size: 28px;
}

.nav-item a {
    text-decoration: none;
    color: #ba68c8;
}

/* TABLE STYLING START*/
.table-container {
    color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
}

#title {
    position: relative;
    top: -200px;
}

table {
    display: block;
    overflow-y: scroll;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgba(32, 32, 32, 0.3);
    width: auto;
    height: auto;
}

th {
    top: 0;
    position: sticky;
    z-index: 2;
    background: #ba68c8;
    text-transform: uppercase;
    padding: 10px 15px;
    min-width: 300px;
}

td {
    min-width: 300px;
    padding: 10px 15px;
    color: #ba68c8;
    cursor: pointer;
}

/* TABLE STYLING END*/

