<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" th:href="@{css/account.css}" />
</head>

<body>
<!-- NAVBAR START -->
<div class="navbar">
    <navbar>
        <ul class="nav-list">
            <li class="nav-item"><a th:href="@{/stocks}">Stocks</a></li>
            <li class="nav-item"><a th:href="@{/transactions}">Transactions</a></li>
            <li class="nav-item"><a th:href="@{/holdings}">Holdings</a></li>
            <li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a>
            </li>
        </ul>
    </navbar>
</div>
<!-- NAVBAR END -->

<div class="display-container">

    <div id="current-cards">
        <table>
            <thead>
            <tr>
                <th>Card Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="creditCard : ${cardList}">
                <tr>
                    <td th:text="${'*** *** **** ' + #strings.substring(creditCard.cardNo, #strings.length(creditCard.cardNo) -4, #strings.length(creditCard.cardNo))}"></td>
                    <td th:text="${creditCard.enabled} ? 'ENABLED' : 'DISABLED'"></td>
                    <td><a th:href="@{'/user/toggle/card/' + ${creditCard.cardId}} ">Enable/Disable</a></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

    <div id="add-card">
        <h3>Add New Card</h3>
        <form action="#" th:action="@{/user/addCard}" th:object="${card}" method="POST" class="card-input">
            <label>Card No</label>
            <input type="text" th:field="*{cardNo}" value="Enter 16 digit number" />
            <br />
            <label>Expiry</label>
            <input type="text" th:field="*{expiry}"  value="Expiry" />
            <br />
            <label>CVV</label>
            <input type="text" th:field="*{cvv}" value="cvv" />
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>


    <!-- USER INFO DISPLAY START -->
    <div class="user-details" id="user-details">

        <h4 sec:authorize="hasRole('ROLE_USER')" class="balance">Your balance is £ <i class="fa fa-usd" aria-hidden="true"></i> <span
                th:inline="text">£ [[${#numbers.formatDecimal(account.accountBalance, 0, 'COMMA', 2, 'POINT')}]]</span>
        </h4>

        <h4 class="username" th:text="'Username: ' + ${user.username}"></h4>
        <h4 class="email" th:text="'Email: ' + ${user.email}"></h4>
        <h4 sec:authorize="hasRole('ROLE_USER')" class="account" th:text="'Acc No: ' + ${user.account.getAccountNumber()}"></h4>
        <h4 sec:authorize="hasRole('ROLE_USER')" class="active-card" th:text="'Active card: ' + ${user.account.getAccountNumber()}"></h4>
    </div>
    <!-- USER INFO DISPLAY END -->



</div>
</body>

</html>