<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Transaction</title>
    <style>
        #card-input {
            height: 50px;
            width: 100px;
        }
    </style>
</head>
<body>
<h1>Validate credit card</h1>

<form form action="#" th:action="@{'/stocks/purchase/validate'}" th:object="${cardValidationData}" method="post">
    <input type="text" th:field="*{lastFourDigitsOfCard}" id="card-input" value="Enter the last 4 digits of your credit card"/>
    <input type="submit" id="submit" value="Submit" />
</form>

</body>
</html>