<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/holdings.css}">

<title>Holdings</title>
</head>
<body>

<!-- SIMPLE NAVBAR -->
<div class="container-fluid">
    <div id="navbar">
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/stocks}">Stocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/transactions}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/userHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>

                <li class="nav-item">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/admin/users}">Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div class="table-container">
        <h1 id="title">Stocks Held</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Volume</th>
            <th>Share Price</th>
            <th></th>

        </tr>
        <div th:each="stocks : ${stocksHeld}">
            <tr class="clickable-row">
                <a th:href="@{'/stocks/sell' + ${stocks.stockId}}">
                    <td th:text="${stocks.stockId}"></td>
                    <td th:text="${stocks.company}" th:onclick="|loadContent(${stocks.stockId})|"></td>
                    <td th:text="${stocks.volume}"></td>
                    <td th:text="${#numbers.formatDecimal(stocks.sharePrice, 0, 'COMMA', 2, 'POINT')}"></td>
                </a>
            </tr>
        </div>
    </table>
</div>

<script type="text/javascript">
    function loadContent(id) {
        location.href = '/stocks/sale/'+id;
    }
</script>
</body>
</html>