<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{css/login.css}" rel="stylesheet"/>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous"
/>
</head>
<title>Login</title>
<body>

<div class="wrapper">
    <div class="title">Trading App</div>

    <form th:action="@{/login}" method="POST">
        <div class="input-field">
            <input type="text" roleId="username" class="input" placeholder="Username" name="username" required="required" autofocus="autofocus"/>
            <i class="fas fa-user"></i>
        </div>

        <div class="input-field">
            <input type="password" class="input" placeholder="Password" name="password" required="required" autofocus="autofocus"/>
            <i class="fas fa-lock"></i>
        </div>
        <button class="submit">Login</button>
    </form>
    <a class="link" th:href="@{/signup}">Dont have an account? Click here to sign up</a>
</div>
</body>
</html>