<!DOCTYPE html>
<html lang="en" xmlns:th=xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/purchase-success.css}">
    <title>Congrats</title>
</head>
<body>
<!-- NAVBAR START -->
<div class="navbar">
    <div class="nav-container flex">
        <nav>
            <ul>
                <li><a th:href="@{/stocks}">Stocks</a></li>
                <li><a th:href="@{/transactions}">Transactions</a></li>
                <li><a th:href="@{/account}">Account</a></li>
                <li><a th:href="@{/holdings}">Holdings</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/admin}">Admin</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- NAVBAR END -->


    <!-- DISPLAY CONTAINER -->
    <div class="display-container">

        <h3 th:text="'You have ' + ${var} + ' ' + ${transaction.volume} + ' ' + ${stocks.company} +' stocks'"></h3>
        <a th:href="@{/stocks}">Purchase more stocks</a>
        <a th:href="@{/holdings}">View holdings</a>
    </div>

</body>
</html>