<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/purchase.css}" rel="stylesheet"/>
</head>

<title>Purchase Stock</title>
<body>

<!-- NAVBAR START -->
<div class="navbar">
    <div class="nav-container flex">
        <nav>
            <ul>
                <li><a th:href="@{/stocks}">Stocks</a></li>
                <li><a th:href="@{/transactions}">Transactions</a></li>
                <li><a th:href="@{/holdings}">Holdings</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/account}">Home</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- NAVBAR END -->

<div class="display-container">
    <h2 th:text="'Purchase stock for '+ ${stocks.company}"></h2>

    <!-- ACCOUNT BALANCE -->
    <div class="row text-dark" style="height: 150px;">
        <p>Balance: <i class="fa fa-usd" aria-hidden="true"></i> <span
                th:text="${#numbers.formatDecimal(account.accountBalance, 0, 'COMMA', 2, 'POINT')}">ACC BALANCE HERE</span>
        </p>
    </div>

    <div class="purchase-container">
        <form action="#" th:action="@{'/stocks/purchase/' + ${stocks.stockId}}" th:object="${transaction}" method="post">
            <p th:text="'Current ' + ${stocks.company} + ' stocks held ' + ${stockListEntity.volume}"></p>
            <br>
            <p>Select number of stocks to purchase:</p>
            <input id="stock-number" type="number" min="1" th:field="*{volume}" />
            <input type="submit" id="submit" value="Submit" />
        </form>
    </div>
    
</div>

<script>
    const button = document.getElementById('submit')

    button.addEventListener('click', function() {
        window.open("confirm.html", "mywindow", "width=450,height=450")
    })
</script>
</body>
</html>