<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/signup.css}">

    <title>Sign Up</title>
</head>
<body>


<!-- NEW FORM START-->

        <div class="wrapper">
            <p th:text="${message}"></p>
            <div class="title">Sign Up Here</div>

            <form action="signup/user/registration" th:action="@{signup/user/registration}" th:object="${user}" method="post">
                <div class="input-field">
                    <input type="text" th:field="*{firstName}" placeholder="First Name" class="input" required/>
                </div>

                <div class="input-field">
                    <input type="text" th:field="*{surname}" placeholder="Surname" class="input" required/>
                </div>

                <div class="input-field">
                    <input type="text" th:field="*{dob}" placeholder="DOB" class="input" required/>
                </div>

                <div class="input-field">
                    <input type="text" th:field="*{email}" placeholder="Email" class="input" required/>
                </div>

                <div class="input-field">
                    <input type="text" th:field="*{username}" placeholder="Username" class="input" required/>
                </div>

                <div class="input-field">
                    <input type="password" th:field="*{password} "placeholder="Password" class="input" required/>
                </div>
                <input type="submit" class="submit" value="Add User">
            </form>
            <a class="link" th:href="@{/login}">Go back to login</a>
        </div>



<!-- NEW FORM END-->

    </div>
</div>
</body>
</html>