<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up </title>
</head>
<body>
<div class="container">
    <h2>Sign Up</h2>

    <form>

        <fieldset class="form-group">
            <legend>User Details</legend>
            <div class="form-group">
                <label class="form-check-label" for="firstName">First Name</label>
                <input class="form-control" type="text" id="firstName" placeholder="First Name">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="surname">Surname</label>
                <input class="form-control" type="text" id="surname" placeholder="Surname">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="email">Email</label>
                <input class="form-control" type="text" id="email" placeholder="Email">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" placeholder="Username">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" placeholder="Password">
                <br>
                <p>Please choose a secure password</p>
            </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

</body>
</html>