<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
<link rel="stylesheet" th:href="@{css/stocks.css}">
</head>

<body>
<!-- NAVBAR START -->
<div class="navbar">
    <navbar>
        <ul class="nav-list">
            <li class="nav-item"><a th:href="@{/stocks}">Stocks</a></li>
            <li class="nav-item"><a th:href="@{/account}">Account</a></li>
            <li class="nav-item"><a th:href="@{/transactions}">Transactions</a></li>
            <li class="nav-item"><a th:href="@{/holdings}">Holdings</a></li>
            <li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a>
            </li>
        </ul>
    </navbar>
</div>
<!-- NAVBAR END -->

<div>
    <h1>Stocks List</h1>
</div>

<div class="container">
    <input id="search" type="text" placeholder="Search.."/>

    <select id="selectionOrder">
        <option value="CompanyAsc">Company asc</option>
        <option value="CompanyDesc">Company desc</option>
        <option value="SharePriceAsc">Share Price asc</option>
        <option value="SharePriceDesc">Share Price desc</option>
    </select>
</div>


<!-- DISPLAY START -->
<div class="table-container">
<table id="table">
<thead>
    <tr>
        <th>ID</th>
        <th>Ticker</th>
        <th>Company</th>
        <th>Last Trade</th>
        <th>Share Price</th>
        <th>24% Change</th>
    </tr>
</thead>
    <tbody>
    <div th:each="stock : ${stocks}">
        <tr class="clickable-row">
            <tr th:href="@{'/stocks/purchase/' + ${stock.stockId}}" th:onclick="|loadContent(${stock.stockId})|">
                <td th:text="${stock.stockId}" ></td>
                <td th:text="${stock.ticker}"></td>
                <td th:text="${stock.company}" ></td>
                <td th:text="${stock.lastTrade}"></td>
                <td th:text="'£' + ${#numbers.formatDecimal(stock.sharePrice, 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${stock.pnl}"></td>
            </tr>
    </div>
    </tbody>
</table>
</div>
<!-- DISPLAY END -->


<script th:src="@{js/stocks.js}"></script>
</body>
</html>