<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/transactions.css}">


<title>Title</title>
</head>


<body>
<!-- NAVBAR START -->
<div class="navbar">
    <navbar>
        <ul class="nav-list">
            <li class="nav-item"><a th:href="@{/stocks}">Stocks</a></li>
            <li class="nav-item"><a th:href="@{/account}">Account</a></li>
            <li class="nav-item"><a th:href="@{/transactions}">Transactions</a></li>
            <li class="nav-item"><a th:href="@{/holdings}">Holdings</a></li>
            <li class="nav-item"><a th:href="@{/logout}">Logout</a></li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a>
            </li>
        </ul>
    </navbar>
</div>
<!-- NAVBAR END -->
<h1>Transactions</h1>
<!-- DISPLAY START -->
<div class="table-container">
    <table id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Date</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Purchase/ Sale</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="transactions : ${transList}">
            <tr>
                <td th:text="${transactions.transactionId}"></td>
                <td th:text="${transactions.stocks.company}"></td>
                <td th:text="${transactions.date}"></td>
                <td th:text="${transactions.volume}"></td>
                <td th:text="${transactions.price}"></td>
                <td th:text="${transactions.purchase}"></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<a th:href="@{/transData}">Export XML Transactions</a>
<br>
<a th:href="@{/transData/Json}">Export Json Transactions</a>
<!-- DISPLAY END -->


</body>
</html>