<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/header :: common-header"/>
<link rel="stylesheet" href="../static/css/user-home.scss">
<style>
    body {
        background-image: url("images/user-home.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</head>
<body>

<!-- SIMPLE NAVBAR -->
    <div id="navbar">
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stocks}">Stocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transactions}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/holdings}">Holdings</a>
                    </li>

                </ul>
        </nav>
    </div>


<div class="container">
    <!-- USERNAME WELCOME -->
    <div class="row">
        <h1 th:text="'Hi ' + ${newUser.getFirstName()}"/>
            <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- ACCOUNT BALANCE -->
    <div class="row">
            <h4>Your balance is: <i class="fa fa-usd" aria-hidden="true"></i> <span
                th:text="${#numbers.formatDecimal(account.accountBalance, 0, 'COMMA', 2, 'POINT')}">...</span>
            </h4>
    </div>
</div>



</body>
</html>