<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
<link rel="stylesheet" href="css/user-home.css">
<style>
    body {
        background-image: url("images/user-home.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<title>User Home</title>

</head>
<body>

<h1>Successful login</h1>

<!-- SIMPLE NAVBAR -->
    <div id="navbar">
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/stocks}">Stocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transactions}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/holdings}">Holdings</a>
                    </li>

                    <li class="nav-item">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/admin/users}">Admin</a>
                    </li>

                </ul>
        </nav>
    </div>

<a sec:authorize="hasRole('ROLE_ADMIN')">Text visible to admin.</a>
Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>


<div class="container">
    <div class="row">
        <h1 th:text="'Hi ' + ${user.username}"/>
            <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
            <h4>Your balance is: <i class="fa fa-usd" aria-hidden="true"></i> <span
                th:text="${account.accountBalance}">...</span>
            </h4>
    </div>
</div>


<!--<div class="tcontainer" >
    <div class="ticker-wrap">
        <div class="ticker-move" >
            <div th:each="stock : ${stocks}">
            <div class="ticker-item" th:text="'' + ${stock.company} + ' ' + ${stock.sharePrice}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
        </div>
    </div>
</div>-->


</body>
</html>