<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{css/user-home.css}">

<title>User Home</title>

</head>
<body>
<!-- NAVBAR START -->
<div class="navbar">
    <div class="nav-container flex">
        <nav>
            <ul>
                <li><a th:href="@{/stocks}">Stocks</a></li>
                <li><a th:href="@{/transactions}">Transactions</a></li>
                <li><a th:href="@{/holdings}">Holdings</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/admin}">Admin</a></li>
                <li><a sec:authorize="hasRole('ROLE_ADMIN')" class="admin-link" th:href="@{/admin/users}">Admin</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- NAVBAR END -->

<!-- Admin Visibility Code -->
<div class="admin-visible">
    <a sec:authorize="hasRole('ROLE_ADMIN')">Authorized Admin</a>
</div>
<!-- Admin Visibility Code End -->


<!-- USER INFO DISPLAY START -->\
<div class="display-container">
    <div class="user-balance">
        <h2 class="name" th:text="'Hi ' + ${user.firstName}"></h2>
        <h3>Your available balance is</h3>
        <h4 class="balance">Your balance is £ <i class="fa fa-usd" aria-hidden="true"></i> <span
                th:inline="text">£ [[${#numbers.formatDecimal(account.accountBalance, 0, 'COMMA', 2, 'POINT')}]]</span>
        </h4>
    </div>

    <div class="user-details">
        <h4 class="username" th:text="'Username: ' + ${user.username}"></h4>
        <h4 class="email" th:text="'Email: ' + ${user.email}"></h4>
        <h4 class="account" th:text="'Acc No: ' + ${user.account}"></h4>
    </div>
</div>
<!-- USER INFO DISPLAY END -->


</body>
</html>